#contatos-sec h1{
    color: #49505A;
    font-size: 3vw;
    font-weight: 600;

}


.inputs-de-cima {
    display: flex;
    gap: 30px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
}


.input-label {
    font-size: 0.9em;
    color: #999; 
    margin-bottom: 5px;
}


.minimal-input {

    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 10px 0;
    font-size: 1em;
    color: #333; 
    background-color: transparent; 
}

.input-submit {
    display: inline-flex;
    align-items: center; 
    justify-content: center; 
    padding: 10px 20px; 
    border: 2px solid #999;; 
    background-color: white; 
    cursor: pointer;

    color: #999;
    font-weight: bold;
}

.input-submit:hover {
    background-color: #e7e7e7; 
}

#mensagem {
    width: 630px;
}
