.input-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
}


.input-label {
    font-size: 0.9em;
    color: #999; 
    margin-bottom: 5px;
}


.minimal-input {

    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    
    padding: 10px 0;
    
    font-size: 1em;
    color: #333; 
    
    background-color: transparent; 
}




