@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*  */
html {
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    
}

header ul{
    display: flex;
}

nav {
    
}

nav a{
    text-decoration: none;
    color: black;
}

section {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;

}

#inicio-sec {
    background: rgb(255, 255, 255);
    
}

#sobre-mim-sec {
    background-color: rgb(94, 94, 94);
    
}

#contatos-sec {
    background-color: rgb(255, 255, 255);
}

h1{
    color: rgb(107, 107, 107) ;
}

header{
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1001);
   
    
}

nav {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}

.logo-olhos {
    width: 38px;
    height: 38px;
}

header figure {
    display: flex;
    align-items: center;
    margin-left: 50px;

}

.imagem-zoio-inicio {
    width: 600px;
}

.container-imagem-zoio {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}