/* elementos da section 3 */

#projetos-sec h1{
    text-align: center; 
    color: #49505A;
    font-weight: 500; 
    font-size: 41px;
    line-height: 100px;
    padding: 4vh;

}
.card-projeto{
    background-color: #eeeeee;
    width: 19vw;
    height: 58vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 0 30px rgba(100, 150, 255, 0.15);
    overflow: hidden;
    transition: ease-out 0.3s;
    gap: 2vh;

    
}

.card-projeto:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.card-projeto img{
    width: 17.5vw;
    height: 16.2vh;
    border-radius: 10px;
}

.container-projetos{
    /* usar 100% ao invés de 100vw evita que a largura inclua a barra de rolagem do navegador */
    width: 100%;
    box-sizing: border-box;
    padding: 0 2vw; /* espaçamento horizontal para controlar gaps sem causar overflow */
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;

}


.card-projeto h2{
    text-align: center;
    font-size: 27px;
}

.card-projeto p{
    text-align: center;
    font-size: 14px;
}

