/* elementos da section 3 */

#projetos-sec h1{
    text-align: center; 
    color: #49505A;
    font-weight: 500; 
    font-size: 3vw;
    line-height: 100px;

}
.card-projeto{
    background-color: #eeeeee;
    width: 19vw;
    height: 58vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 30px rgba(100, 150, 255, 0.15);
    overflow: hidden;
    transition: ease-out 0.3s;

    
}

.card-projeto:hover{
    transform: scale(1.1);
    cursor: pointer;

    
}


.card-projeto img{
    width: 17.5vw;
    height: 16.2vh;
    border-radius: 10px;
}


.container-projetos{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;


}


